<app-simple-header></app-simple-header>
<div class="container">
    <div  class="form_container" *ngIf="!resetSuccess">
      
      <div class="title_container">
        <span>Create New Password</span>
      </div>
      <form (ngSubmit)="submitForm()">
        <div class="password-input">
          <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Create new password" class="input-box" [(ngModel)]="newPassword" name="newPassword" autocomplete="new-password">
          <fa-icon [icon]="showPassword ? faEyeSlash : faEye" (click)="toggleShowPassword('newPassword')" class="eye-icon"></fa-icon>
        </div>
        
        <!-- Confirm password -->
        <div class="password-input">
          <input type="{{ showConfirmPassword ? 'text' : 'password' }}" placeholder="Confirm password" class="input-box" [(ngModel)]="confirmPassword" name="confirmPassword" autocomplete="confirmPassword">
          <fa-icon [icon]="showConfirmPassword ? faEyeSlash : faEye" (click)="toggleShowPassword('confirmPassword')" class="eye-icon"></fa-icon>
        </div>
        <span class="err">{{errorMessage}}</span>
        <input type="submit" value="Continue" class="submitBTN">
      </form>
      </div>
      <div *ngIf="resetSuccess" class="success-container">
        <div class="success-icon-container">
          <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <h2>Password reset successful!</h2>
        <!-- You can add a link to redirect the user to the login page or another page -->
      </div>
    <!-- <div class="privacy-note-container">
      <span>By signing up, you agree to Tutdocs <span class="term-link">Terms of Use</span> and <span class="term-link">Privacy policy</span>.</span>
  </div> -->
 
  </div>