<div class="container" style="background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.753)), url('assets/bg.svg'); background-size: cover; background-repeat: no-repeat;">
    <div class="main_title-container">
        <span class="main_title">
            <span class="tut">Tutdocs</span>
            <span class="subtitle">Empowering Your Learning Journey</span>
        </span>
        <span class="title_Desc">Explore top-rated course notes shared by peers and educators for an enriched learning
            experience on our platform</span>
            <div class="button_container">
                <button class="signbtn" routerLink="/auth/login">Sign in</button>
                <button class="guest_user" routerLink="/home">Continue As Guest</button>
            </div>
    </div>
    </div>
