<app-simple-header></app-simple-header>
<div class="container">
    <div  class="form_container" *ngIf="!resetSuccess">
      <div class="title_container">
        <span>Reset Password</span>
      </div>
      <span class="title_Desc">Enter your email address, We will send to you <br>password reset link</span>
      <form (ngSubmit)="submitForm()">
        <input type="email" placeholder="Email address" class="input-box" [(ngModel)]="userEmail" name="userName">
        <span class="err">{{errorMessage}}</span>
        <input type="submit" value="Reset" class="submitBTN">
  
      </form>
      </div>
      <div *ngIf="resetSuccess" class="success-container">
        <div class="success-icon-container">
          <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <h2>Reset link sent in your email please check !</h2>
        <!-- You can add a link to redirect the user to the login page or another page -->
      </div>
    <!-- <div class="privacy-note-container">
      <span>By signing up, you agree to Tutdocs <span class="term-link">Terms of Use</span> and <span class="term-link">Privacy policy</span>.</span>
  </div> -->
  </div>