<div class="container">

    <h1>Tutdocs - Privacy Policy</h1>

    <p>Last Updated: 2024</p>
    <h2>1. Overview</h2>
    <p>Welcome to Tutdocs ("we", "us", or "our"). This Privacy Policy is designed to inform you about how we collect, use, and disclose personal information when you use our platform.</p>

    <h2>2. Information We Collect</h2>
    <p>We may collect various types of personal information from users, including but not limited to:</p>
    <ul>
        <li>Profile picture</li>
        <li>Name</li>
        <li>Email address</li>
        <li>Address</li>
        <li>University or college affiliation</li>
        <li>Content uploaded for posts</li>
       
    </ul>

    <h2>3. Use of Information</h2>
    <p>We use the collected information solely for the purpose of facilitating the sharing of study materials among Tutdocs users. Your personal information, including uploaded content, may be shared with other users on the platform for this purpose.</p>

    <h2>4. Sharing of Information</h2>

    <p>We may share your information with third parties only to the extent necessary to provide our services, comply with legal obligations, or protect our rights.</p>
    <h2>5. Security</h2>
    <p>We take reasonable measures to protect your personal information. However, please be aware that no security measures are foolproof.
    </p>

    <h2>6. Your Choices</h2>
    <p>You can choose not to provide certain information, but this may limit your ability to use certain features of Tutdocs.</p>

    <h2>7. Changes to Privacy Policy</h2>
    <p>We reserve the right to update this Privacy Policy at any time. We will notify users of any material changes.</p>

    <h2>8. Contact Information</h2>
    <p>If you have questions or concerns regarding our Privacy Policy, please contact us at  <a
        href="mailto:privacy@tutdocs.com">privacy@tutdocs.com</a>.</p>
    <h2>9. Legal Compliance

    </h2>
    <p>Tutdocs operates in compliance with applicable privacy laws. If you are located in the European Economic Area (EEA), you may have additional rights under the General Data Protection Regulation (GDPR).</p>
</div>
